@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 640px) {
    .porter-text {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
    .porter-subtext {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}
@media (min-width: 641px) {
    .porter-text {
        font-size: 3rem;
        line-height: 1;
    }
    .porter-subtext {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

.porter-text {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #010101;
    /* background-image: linear-gradient(217deg, #5db5e7 15%, #E37D7D 40%, #DEA9A9 70%, #D9D9D9); */
    /* background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent; */
}

.ctoa {
    background-image: linear-gradient(217deg, rgba(140, 100, 255, 0.6), rgba(200, 50, 50, 0.6));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.porter-subtext {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 5rem;
    color: rgba(0, 0, 0, 0.5);
    max-width: 50%;
    overflow-wrap: break-word;
}

.porter-overview {
    align-items: center;
}

/* @font-face {
    font-family: "Neuzeit S Bold";
    src: url("../fonts/NeuzeitSLTStd-BookHeavy.eot");
    src: url("../fonts/NeuzeitSLTStd-BookHeavy.eot?#iefix")
        format("embedded-opentype"),
        url("../fonts/NeuzeitSLTStd-BookHeavy.woff2") format("woff2"),
        url("../fonts/NeuzeitSLTStd-BookHeavy.woff") format("woff"),
        url("../fonts/NeuzeitSLTStd-BookHeavy.ttf") format("truetype"),
        url("../fonts/NeuzeitSLTStd-BookHeavy.svg#NeuzeitSLTStd-BookHeavy")
        format("svg");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neuzeit S Book";
    src: url("../fonts/NeuzeitSLTStd-Book.eot");
    src: url("../fonts/NeuzeitSLTStd-Book.eot?#iefix") format("embedded-opentype"),
        url("../fonts/NeuzeitSLTStd-Book.woff2") format("woff2"),
        url("../fonts/NeuzeitSLTStd-Book.woff") format("woff"),
        url("../fonts/NeuzeitSLTStd-Book.ttf") format("truetype"),
        url("../fonts/NeuzeitSLTStd-Book.svg#NeuzeitSLTStd-Book") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

html, body {
    font-family: 'Inter', Helvetica, Arial, sans-serif !important;
}

.porter-logo {
    background-image: url('../images/porter_logo.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
    display: inline-block;
    /* opacity: 0.5; */
}

/* .porter-logo-text {
    color: rgba(0, 0, 0, 0.5);
} */

.porter-contact {
    background: linear-gradient(
        45deg,
        rgba(255, 255, 255, .1),
        rgba(255, 255, 255, .2), 70%, 
        rgba(255, 255, 255, .1)
    );
    border: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    color: rgba(0,0,0,0.5);
    border-radius: 10px;
    margin: 0.5rem;
    transition: 0.5s all ease-in-out;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.porter-contact:hover {
    background-color: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.bg-color-gradient {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0.5;
    z-index: -1;
}

  
  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }

  svg {
    display: none;
  }
  
  .gradient-bg {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(40deg, rgb(108, 0, 162), rgb(108, 0, 162));
    top: 0;
    left: 0;
}

.gradients-container {
    filter: url(#goo) blur(40px) ;
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(18, 113, 255, 0.8) 0, rgba(18, 113, 255, 0) 50%) no-repeat;
    mix-blend-mode: hard-light;

    width: 80%;
    height: 80%;
    top: calc(50% - 80% / 2);
    left: calc(50% - 80% / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(221, 74, 255, 0.8) 0, rgba(221, 74, 255, 0) 50%) no-repeat;
    mix-blend-mode: hard-light;

    width: 80%;
    height: 80%;
    top: calc(50% - 80% / 2);
    left: calc(50% - 80% / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(255, 225, 0, 0.8) 0, rgba(255, 225, 0, 0) 50%) no-repeat;
    mix-blend-mode: hard-light;

    width: 80%;
    height: 80%;
    top: calc(50% - 80% / 2 + 200px);
    left: calc(50% - 80% / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(200, 50, 50, 0.8) 0, rgba(200, 50, 50, 0) 50%) no-repeat;
    mix-blend-mode: hard-light;

    width: 80%;
    height: 80%;
    top: calc(50% - 80% / 2);
    left: calc(50% - 80% / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(100, 220, 255, 0.8) 0, rgba(100, 220, 255, 0) 50%) no-repeat;
    mix-blend-mode: hard-light;

    width: calc(80% * 2);
    height: calc(80% * 2);
    top: calc(50% - 80%);
    left: calc(50% - 80%);

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(140, 100, 255, 0.8) 0, rgba(140, 100, 255, 0) 50%) no-repeat;
    mix-blend-mode: hard-light;

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.porter-intro {
    overflow: hidden;
}

.porter-action {
    position: relative;
    width: 30rem;
    height: 10rem;
    border-radius: 10px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;    padding: 1rem;
    margin: 1rem 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex: initial !important;
}

.porter-action:after {
    position: absolute;
    content: "";
    left: 50%;
    top: calc(100% + 0.5rem);
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='12' viewBox='0 0 384 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z'/%3E%3C/svg%3E ");
    width: 1rem;
    height: 1rem;
}

.porter-step-container {
    width: 75%;
    max-width: 75%;
    display: flex;
    flex-direction: column;
}

.porter-step-container span {
    overflow-wrap: break-word;
    font-weight: 700;
}

.porter-step-container input {
    border-radius: 10px;
    margin-right: 0.25rem;
}

.porter-step-container {
    width: 75%;
    max-width: 75%;
    display: flex;
    flex-direction: column;
}

.porter-step-container span {
    overflow-wrap: break-word;
}

.porter-remove-step {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z'/%3E%3C/svg%3E");    width: 2rem;
    height: 2rem;
    width: 2rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

.porter-section-header {
    text-transform: uppercase;
    color: #999;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.porter-overview-text {
    color: #777;
    font-weight: 700;
    font-size: 1.5rem;
    max-width: 50%;
    overflow-wrap: break-word;
    padding: 2rem 0;
    text-align: center;
}

.porter-footer {
    padding: 3rem 0;
}